/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
.centerDiv{
    margin: 0 auto;
    width: 50%;
}


.table-danger{
    --bs-table-bg: lightpink!important;
}

.table-order{
    --bs-table-bg: #ffdbe4!important;
    /*--bs-table-bg: #ffedf1!important;*/
}

.table-cheesecake{
    --bs-table-bg: #ffdbe4!important;
    /*--bs-table-bg: #ffedf1!important;*/
}

.center-Text{
    text-align: center!important;
}