/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
.centerDiv{
    margin: 0 auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table-danger{
    --bs-table-bg: lightpink!important;
}
