/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
.centerDiv{
    margin: 0 auto;
    width: 50%;
}

button {
    border-color: transparent!important;
}

.table-danger{
    --bs-table-bg: lightpink!important;
}


.center-Text{
    text-align: center!important;
}

/* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}